<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a4t4wmlv4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".level03_main"></activity>
        <activity android:name=".mainMenu" />
        <activity android:name=".FirstPage" />
        <activity android:name=".timesup" />
        <activity android:name=".loginuser" />
        <activity android:name=".CorrectAnswer01" />

        <service
            android:name=".PlayMusic"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".level01_Main" />
        <activity android:name=".level2_int3" />
        <activity android:name=".level2_int1" />
        <activity android:name=".level2_int2" />
        <activity android:name=".level2" />
        <activity android:name=".level1" />
        <activity android:name=".level03_int01" />
        <activity android:name=".level03_int02" />
        <activity android:name=".level03_int03" />
        <activity android:name=".level01Int2" />
        <activity android:name=".level01Int3" />
        <activity android:name=".level01int4" />
        <activity android:name=".level04Main" />
        <activity android:name=".level04S2" />
        <activity android:name=".level04_int04" />
        <activity android:name=".level04_int03" />
        <activity android:name=".level04_01" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>